# Logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Documentation
doc
_doc
examples
docs

# Tests
tests

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# tests
/tests

# IDE
.idea
.editorconfig

# misc
src
scripts
Makefile
.commitlintrc.yml
.eslintignore
.eslintrc.yml
.github
.gitignore
.jsdoc.json
.lintstagedrc
.huskyrc
.travis.yml
.yarn
.pnp.*
jest.config.js
.yarnrc.yml
.prettierrc
