{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        },
        "target": "es2021"
    },
    "sourceMaps": "inline",
    "module": {
        "type": "commonjs"
    }
}
